{
  "extends": [
    "stylelint-config-recommended-scss",
    "stylelint-config-twbs-bootstrap",
    "stylelint-config-property-sort-order-smacss"
  ],
  "rules": {
    "scss/at-function-named-arguments": null
  }
}
