@use "../variables";

.speakers-container {
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
  margin-right: 10%;
  margin-left: 10%;
}

.speaker-card {
  max-width: 250px;
  margin: 1rem;
  transition: transform .3s ease;
  background-color: #fff;
  box-shadow: 0 4px 8px color(display-p3 0 0 0 / .1);
  text-align: center;
}

.speaker-card:hover {
  transform: scale(1.05);
}

.speaker-photo {
  width: 100%;
  height: auto;
}

.speaker-name {
  margin: .5rem 0;
  font-size: 1.25rem;
  font-weight: variables.$bold-weight;
}

.speaker-quote {
  color: #666;
  font-style: italic;
}

.more-speakers {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
}
