footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 2rem;
  background-color: $secondary-color;
  color: $color-light;
  font-size: .85rem;

  a {
    color: $color-light;
  }

  @media screen and (min-width: $mq-medium-min-width) {
    flex-direction: row;
  }
}

.footer-left {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  p {
    margin: 0;
    padding: .25rem;
  }
}

.footer-right {
  display: flex;
  @media screen and (min-width: $mq-medium-min-width) {
    flex-direction: row;
  }
}

.footer-social {
  display: flex;
  flex: 1;
  justify-content: center;
  margin: 0;
  padding: .5rem;

  li {
    list-style: none;
  }
}
