header {
  display: flex;
  position: sticky;
  top: 0;
  flex-direction: column;
  align-items: center;
  padding: .5rem 2rem;
  background-image: linear-gradient(to right, $secondary-color, $third-color, $hover-color);

  span {
    color: $color-light;
  }

  @media screen and (min-width: $mq-large-min-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.navigation {
  ul {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
    padding: 0;
  }

  li {
    padding: 0 1rem;
    list-style: none;
  }

  a {
    color: $color-light;
    font-weight: $font-bold;
    text-decoration: none;
  }

  @media screen and (min-width: $mq-medium-min-width) {
    ul {
      flex-direction: row;
      justify-content: center;
    }
    li {
      padding: .5rem 1rem;
    }
  }
}
