<footer>
    <div class="footer-left">
        <img class="logo-img" alt="Vigo logo" loading="lazy" src="./assets/images/logo.png" data-tilt data-tilt-scale="1.1">
        <p>Silvia Martínez Báez</p>
        <p>Herramientas HTML y CSS II - <a href="https://github.com/smb-uoc/html-css-tools-2-pec1" target="_blank">Repositorio GitHub</a></p>
        <p><em>Las imágenes han sido obtenidas para fines educativos y no comerciales</em></p>
    </div>
    <div class="footer-right">
        <ul class="footer-social">
            <li><a href="#" target="_blank"><img alt="Twitter logo" loading="lazy"
                                                 src="./assets/images/twitter.svg"></a></li>
            <li><a href="#" target="_blank"><img alt="Instagram logo" loading="lazy"
                                                 src="./assets/images/instagram.svg"></a></li>
            <li><a href="#" target="_blank"><img alt="Youtube logo" loading="lazy"
                                                 src="./assets/images/youtube.svg"></a></li>
        </ul>
    </div>
</footer>
