<header>
    <a class="logo-link" href="./index.html" data-tilt data-tilt-scale="1.1">
        <img class="logo-img" alt="Vigo logo" loading="lazy" src="./assets/images/logo.png">
        <span>Vigo Vibes</span>
    </a>
    <nav class="navigation">
        <ul>
            <li><a href="./index.html#welcome">Bienvenidos</a></li>
            <li><a href="./index.html#visit">Visita</a></li>
            <li><a href="./index.html#gastronomy">Gastronomía</a></li>
            <li><a href="./index.html#culture">Cultura</a></li>
            <li><a id="theme-toggle" href="#"><i class="fa-solid fa-circle-half-stroke"></i> Tema</a></li>
        </ul>
    </nav>
</header>
