// mixin for the shadows
@mixin box-shadow($color: rgb(0, 0, 0), $blur: 4px, $spread: 2px) {
  padding: 2rem;
  background-color: $color-light;
  box-shadow: 0 $blur ($spread * 2) -1px transparentize($color, .1), 0 $spread $blur -1px transparentize($color, .6);
  color: $primary-color;
  text-align: center;
}

@function transparentize($color, $opacity) {
  @return rgba($color, $opacity);
}
