@use "sass:color";

$font-family-sans-serif: -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto",
  "Helvetica Neue", "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
$font-family-serif: "Georgia", "Times New Roman", serif;
$font-size-base: 16px;
$line-height-base: 24px;
$font-bold: 700;

$card-max-width: 800px;

$primary-color: color(rgb 34, 34, 34);
$secondary-color: color(rgb 57, 166, 200);
$third-color: color(rgb 209, 194, 153);
$hover-color: color(rgb 131, 57, 200);

$color-dark: color(rgb 69, 67, 67);
$color-light: color(rgb 255, 255, 255);
$color-grey: color(rgb 247, 247, 247);

$mq-medium-min-width: 420px;
$mq-large-min-width: 660px;
