@use "sass:color";

$min-width: 340px;
$image-max-height: 600px;
$image-max-width: 800px;

$bold-weight: 700;

$primary-color: color(display-p3 0 .478 1); /* #007bff */
$second-color: color(display-p3 .974 .98 .98); /* #f8f9fa */
$third-color: color(display-p3 .424 .463 .494); /* #6c757d */
$hero-color: color(display-p3 0 0 0 / .6); /* rgba(0, 0, 0, .6) */

//$theme-colors: (
//  "primary":    #007E4A,
//  "secondary":  #FF7F00,
//  //"success":    $success,
//  //"info":       $info,
//  //"warning":    $warning,
//  //"danger":     $danger,
//  //"light":      $light,
//  "dark":       #FF7F00
//);
